---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import LinkedinIcon from '../components/icons/Linkedin.astro';
import GithubIcon from '../components/icons/Github.astro';
import MailIcon from '../components/icons/Mail.astro';
import SocialPill from '../components/SocialPill.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro'
import Briefcase from '../components/icons/Briefcase.astro';
import CodeIcon from '../components/icons/Code.astro'
import Projects from '../components/Projects.astro'
import AboutMe from '../components/AboutMe.astro';
import ProfileMe from '../components/icons/ProfileMe.astro'
import DownloadIcon from '../components/icons/Download.astro';
---

<Layout title="Portfolio de Diego Pinto - Desarrollador y Programador Web" description="Contrata a Diego Pinto para crear tu aplicación web o móvil. Desarrollador Web." >

	<main class="mx-4">
		<SectionContainer class="py-44 pb-32">
			<div class="size-20 overflow-hidden rounded-full shadow-lg">
				<img class="w-full h-full object-cover" src="/assets/DiegoProfile.jpg" alt="el-diegore photo"/>
			  </div>
			  
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
				Hey, soy Diego 
				
					<a
					class="flex items-center transition md:justify-center md:hover:scale-105 font-normal"
					href="https://www.linkedin.com/in/diego-pinto-pinto" target="_blank" rel="noopener">
						<Badge>Disponible para trabajar</Badge>
					</a> 

				
			</h1>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
				<span>+2 años de experiencia.</span> <span class="text-yellow-200/90">Desarrollador Web.
					</span>  <span class="text-purple-200/90">De La Serena, Chile 
						</span> <span class="opacity-75">Certificado en JavaScript y Python</span>
			</h2>

			
		<nav class="flex gap-4 mt-8 flex-wrap">
			<SocialPill href="https://www.linkedin.com/in/diego-pinto-pinto" > 
				<LinkedinIcon class="size-4 md:size-6" />
				LinkedIn
			</SocialPill>
			<SocialPill href="https://www.github.com/el-diegore" > 
				<GithubIcon class="size-4 md:size-6" />
				GitHub
			</SocialPill>
			<SocialPill href="mailto:pinto.p.diego@gmail.com" > 
				<MailIcon class="size-4 md:size-6" />
				pinto.p.diego@gmail.com
			</SocialPill>
			<SocialPill href="/assets/CV_DiegoPinto.pdf" download="CV_DiegoPinto.pdf" > 
				<DownloadIcon  class="size-4 md:size-6" />
				Curriculum
			</SocialPill>
			
		</nav>
		</SectionContainer>
		<SectionContainer id="experiencia">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center" >
			<Briefcase class="size-7" /> Experiencia Laboral</h2>
			<Experience/>
		</SectionContainer>

		<SectionContainer id="proyectos">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center" > <CodeIcon/>
			 Proyectos</h2>
			<Projects/>

		</SectionContainer>

		<SectionContainer id="sobre-mi">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center" > <ProfileMe/>
			 Sobre mí</h2>
			<AboutMe/>

		</SectionContainer>
	
	
	</main>
</Layout>
